body {
    margin-left: 300px;
    margin-top: 100px;
    display: block;
}

p {
    text-align: center;
    font-size: small;
}

.book {
    display: block;
}

.book_info {
    display: block;
}

.book_img {
    display: inline-block;
    width: 150px;
    height: 200px;
}

.book_specific {
    vertical-align: top;
    display: inline-block;
}

.book_buttons {
    margin: 10px;
    display: flex;
}

.textarea {
    border-radius: 5px;
    border: 2px solid rgb(213, 194, 194);
    /** outline-color 속성을 추가하면
    focus될 때 테두리 색상을 지정할 수 있다.**/
    outline-color: #FE6B8B;
}

.button {
    margin: 5px;
    border-radius: 5px;
    border: 0px solid;
    color: white;
    background-color: #595959;

    align-items : center;
    text-align: center;
    vertical-align: center;


    width: 50px;
    height: 30px;
}