.bookimage {
    margin-left: 50px;
    text-align: center;
}

.animated-progress {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(158, 196, 154, 0.35);
    margin: 0 auto;
    border: 1px solid rgba(128, 128, 128, 0.377);
    overflow: hidden;
    position: relative;
  }
  
  .animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
  }
  
  .progress-green span {
    background-color: green;
  }

  .imgsz {
    width: 150px;
    height: 200px;
    margin-right: 50px;
  }

.btn {  
    position: relative;
    top: -50px;
    left: 350px;
}

.btm_image {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.add_image {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(158, 196, 154, 0.35);
    border-radius: 100%;
}
