<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:: BookHub ::</title>
    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
     <!-- 커스텀 CSS --> 
    <link rel="stylesheet" href="../css/home.css">

    <script src="/js/axios.min.js"></script>
    <script src="../js/api.js" type="module"></script>
</head>
<body>
    <div class="nav">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/main"><img src="../img/logo.png" id="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/main"><img src="../img/book.png" class="nav-logo"></a>
                            <p class="nav-p">MEMORY</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/wishList"><img src="../img/photo_filter.png" class="nav-logo"></a>
                            <p class="nav-p">Wish</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stat" tabindex="-1" aria-disabled="true"><img src="../img/leaderboard.png" class="nav-logo"></a>
                            <p class="nav-p">ANALYTICS</p>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="hr-div"></div>

    <div id="content">
        <section id="main_login" class="mx-auto">

            <form name="login" action="" method="" autocomplete="off">
                <h1 class="login_title mb-4">로그인</h1>
                
                <div class="login_input">
                    <input 
                        type="text"
                        id="username_login"
                        name="usernamelogin"
                        placeholder="이메일"
                        class="account"
                        pattern="^[a-zA-Z0-9]+$"
                        required
                        autofocus
                    />
    
                    <input 
                        type="password"
                        name="password_login"
                        id="password_login"
                        placeholder="비밀번호"
                        class="account"
                        required
                    />
    
                    <input type="button" id="login-btn" class="btn btn-outline-success" value="로그인"/>
                </div>

                <div class="wrap">
                    <a href="/signup" class="createaccount">회원가입</a>
                    <a href="" class="forgotpassword">비밀번호를 잊으셨나요?</a>
                </div>
            </form>
        </section>
    </div>


</body>
</html>