@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body {
    letter-spacing: 1px;
    background-color: #809A6F;
}

form {
    padding-top: 80px;
}

h1{
    font-weight: bolder;
    text-align: center;
}

p {
    text-align: center;
    font-size: small;
}


#main_login, #main_signup {
    margin-top: 10%;
    width: 500px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 1px none black;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(158, 196, 154, 0.35);
}

#main_signup {
    display: block;
}

#main_login {
    display: block;
}

.account {
    background-color: #ecf0c0;
    border: none;
    width: 50%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    display: block;
    margin-top: 10px;
    font-size: small;
}

.account:active, .account:hover {
    border: black;
}

.account:hover{
    background-color: #adce97;
}

.btn {
    width: 50%;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: white;
}

a {
    color: rgb(74, 182, 74);
    display: block;
    text-decoration: none;
    text-align: center;
}

.forgotpassword_login {
    position: relative;
    top: 159px;
    color: rgb(200, 200, 200);
}

.forgotpassword_sign {
    position: relative;
    top: 80px;
    color: rgb(200, 200, 200);
}