p {
    text-align: center;
    font-size: small;
}

.nav-p {
  text-align: center;
  font-size: small;
}

.nav {
  width: 1400px;
  margin: auto;
}

#logo{
  width: 220px;
  height: 40px;
  margin: 30px 30px 30px 50px;
  float: left;
}
  
.container-fluid {
  width: 1200px;
}

.nav-logo {
width: 30px;
height: 35px;
}

.nav-item {
  padding-right: 100px;
}

.nav-item > a, .nav-item > span{
  text-align: center;
}
  
#navbarNav{
  display : flex;
  justify-content : center;
}
  
.hr-div{
  width: 1400px;
  height: 1px;
  border: 1px solid #E1E1E1;
  margin: auto;
}

.headertitle{
  text-align: center; 
  font-size: 30px;
  color: #671212;
  font-weight: 700;
}

.littletitle{
  line-height: 1px;
  text-align: center; 
  color: #8E8E8E;
  font-size: 12px;
}

.book_info {
  margin: 0 auto;
  text-align: center;
  word-break:break-all;
  height: 270px;
}

.bookimg {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.book_img {
  width: 150px;
  height: 205px;
}

.booktitle{
  font-size: 30px;
  color: #671212;
  font-weight: 700;
  float: left;
  border-bottom: #671212;
}


.book_specific {
  display: inline-block;
  width: 770px;
}

.wrap {
  overflow: hidden;
}

.date {
  float: right;
}

.startday, .endday {
  display: inline-block;
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  border: 1px solid #C09D9D;
  border-radius: 12px;
  color: #671212;
}

.startday {
  background-image: url(../img/calendar_today.png);
  background-repeat:  no-repeat;
  background-position: 10px center;
}

.endday {
  background-image: url(../img/event_available.png);
  background-repeat:  no-repeat;
  background-position: 10px center;
}

.book_buttons {
    display: flex;
    float: right;
}

.textarea {
    border-radius: 5px;
    border: 2px solid rgb(213, 194, 194);
    /** outline-color 속성을 추가하면
    focus될 때 테두리 색상을 지정할 수 있다.**/
    outline-color: #FE6B8B;
}

.button1 {
  margin-right: 5px;
  border-radius: 12px;
  border: 1px solid #E1E1E1;
  color: black;
  background-color: white;
  align-items : center;
  text-align: center;
  vertical-align: center;
  padding: 8px 10px 8px 10px;
  width: 70px;
}

.button2 {
  border: none;
  border-radius: 12px;
  color: white;
  background-color: #671212;
  align-items : center;
  text-align: center;
  vertical-align: center;
  padding: 8px 10px 8px 10px;
  width: 70px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}