
h1{
    text-align: center;
}

.nav-p {
    text-align: center;
    font-size: small;
  }


p {
    text-align: center;
}

.wrap > a {
    color: #671212;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.nav {
    width: 1400px;
    margin: auto;
  }
  
#logo{
width: 220px;
height: 40px;
margin: 30px 30px 30px 50px;
float: left;
}

.container-fluid {
    width: 1200px;
}

.nav-logo {
width: 30px;
height: 35px;
}

.nav-item {
    padding-right: 100px;
}

.nav-item > a, .nav-item > span{
    text-align: center;
}

#navbarNav{
display : flex;
justify-content : center;
}

.hr-div{
width: 1400px;
height: 1px;
border: 1px solid #E1E1E1;
margin: auto;
}

#content {
    margin: 0 auto;
    width: 280px;
}

.login_title, .signup_title {
    margin: 0 auto;
    margin-top: 100px;
    width: 80px;
    height: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #671212;
}

.signup_title {
    width: 200px;
}

#main_login, #main_signup {
    margin-top: 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 1px none black;
}


.account {
    box-sizing: border-box;
    background: #FFFEFE;
    border: 1px solid #C09D9D;
    border-radius: 9px;
    width: 280px;
    height: 44px;
    padding-left: 40px;
    margin-top: 10px;
} 

.account:active, .account:hover {
    border: 1px solid black;
}

input[name=usernamelogin], input[name=username_signup]{
    background-image: url(../img/mail.png);
    background-repeat:  no-repeat;
    background-position: 10px center;
}

input[name=password_login], input[name=password_signup], input[name=password_check_signup]{
    background-image: url(../img/key.png);
    background-repeat:  no-repeat;
    background-position: 10px center;
}

input[name=nickname_signup]{
    background-image: url(../img/account_circle.png);
    background-repeat:  no-repeat;
    background-position: 10px center;
}

input::placeholder {
    color: #671212;
    font-size: 14px;
}

.btn {
    width: 280px;
    height: 44px;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 9px;
    background-color:  #671212 ;
    border: 1px solid #671212;
    color: white;
}

.btn:hover {
    background-color: white;
    border: 1px solid #671212;
    color: #671212;
}

.btn2 {
    border-radius: 25px;
}

.createaccount{
    float: left;
}

.forgotpassword {
    color: #8E8E8E;
    float: right;
}

.wrap {
    overflow: hidden;
}


