.nav-p {
    text-align: center;
    font-size: small;
  }

.container-fluid{
    width: 100%;
}

#mainbox {
    margin: 0 auto;
    display: table;
    position: relative;
}

.nav {
    width: 1400px;
    margin: auto;
  }
  
#logo{
width: 220px;
height: 40px;
margin: 30px 30px 30px 50px;
float: left;
}

.container-fluid {
    width: 1200px;
}

.nav-logo {
width: 30px;
height: 35px;
}

.nav-item {
    padding-right: 100px;
}

.nav-item > a, .nav-item > span{
    text-align: center;
}

#navbarNav{
display : flex;
justify-content : center;
}


.hr-div{
width: 1400px;
height: 1px;
border: 1px solid #E1E1E1;
margin: auto;
}

.headertitle{
  text-align: center; 
  font-size: 30px;
  color: #671212;
  font-weight: 700;
}

.littletitle{
  line-height: 1px;
  text-align: center; 
  color: #8E8E8E;
  font-size: 15px;

}

.bigcircle2{
    width: 470px;
    height: 470px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(56.18deg, #784E4E 17.94%, #671212 106.04%);
    border: none;
    filter: drop-shadow(0px 32px 48px rgba(103, 18, 18, 0.32));
    border-radius: 100%;
    color: white;
    position: absolute;
    left : -150px;
}

.bigcircle1{
    width: 430px;
    height: 430px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(56.18deg, #784E4E 17.94%, #671212 106.04%);
    border: 1px solid  #fa6e6e;
    border-radius: 100%;
    color: white;
    position: absolute;
    left : 20px;
    top: 20px;
}

.bigcircle {
    width: 370px;
    height: 370px;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(56.18deg, #784E4E 17.94%, #671212 106.04%);
    border: 1px solid #9b5a5a;
    border-radius: 100%;
    color: white;
    position: relative;
    left: 28px;
    top: -20px;
    padding-top: 55px;
}

.smallcircle1 {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 430px;
    left: 180px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 100%;
    box-shadow: 0px 8px 56px rgba(0, 0, 0, 0.25);
}

.smallcircle {
    box-sizing: border-box;
    width: 170px;
    height: 170px;
    text-align: center;
    position: relative;
    left: 13px;
    top: 15px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 100%;
}

.bigcenter {
    display: inline-block;
    vertical-align: middle;
    font-size: 160px;
    font-weight: bolder;
}

.goalcnt {
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    font-weight: bolder;
    color: #d26262;
}

.smallcenter {
    position: absolute;
    left: 43px;
    top: 59px;
    font-size: 35px;
    font-weight:700;
}