
p {
    text-align: center;
    font-size: small;
}


#mainbox {
    display: table;
    margin: 0 auto;
}

.bigcircle {
    width: 500px;
    height: 500px;
    text-align: center;
    vertical-align: middle;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 100%;
    color: white;
    position: relative;

}

.smallcircle {
    width: 200px;
    height: 200px;
    text-align: center;
    position: relative;
    left: 350px;
    top: -180px;
    background-color: rgb(184, 184, 184);
    border: 1px solid rgb(184, 184, 184);
    border-radius: 100%;
    font-size: 50px;
    color: white;
}


.bigcenter {
    position: relative;
    left: 0px;
    top: 140px;
    font-size: 150px;
}

.smallcenter {
    position: relative;
    left: 0px;
    top: 60px;
    font-size: 50px;
}